@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #89cff0;
  --second-bg-color: #e9f1fa;
  --text-color: #000000;
  --main-color: #bee9ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 4rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 1.2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  border-radius: 15%;
  margin-left: 2rem;
  height: auto;
  width: 100%;
  max-width: 300px;
  animation: floatImage 4s ease-in-out infinite;
}

.home-content p {
  font-size: 2.4rem;
  line-height: 1.5;
}

ul li {
  font-size: 2rem;
  margin: 0 0 0 2rem;
  line-height: 1.5;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 1rem 1.5rem 2rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.button,
.send-button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border: 2px solid black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  min-width: 100px;
}

.button:hover,
.send-button:hover {
  border: 2px solid var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.send-button {
  border: none;
}

.send-button:hover {
  border: none;
}

.preview-button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  width: 180px;
}

.preview-button:hover {
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background: var(--second-bg-color);
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 300px;
  margin: 2rem;
  border-radius: 50%;
}

.heading {
  text-align: center;
  font-size: 6rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.3;
}

.about-content h3 {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

.about-content p {
  line-height: 1.2;
  font-size: 2.1rem;
  margin: 1rem 0 1rem;
  width: 40vw;
}

.about-content a {
  margin-top: 0.5rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border: 0.2rem solid var(--bg-color);
  border-radius: 2rem;
  text-align: center;
  transition: 0.5s ease;
  min-height: 65vh;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--text-color);
}

.services-box h3 {
  font-size: 4rem;
}

.services-box p {
  font-size: 2rem;
  margin: 1rem 0 1rem;
}

.services-box .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1.5rem;
}

.image-container img {
  height: 5rem;
  width: 5rem;
}

.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 5rem;
}

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  gap: 2rem;
}

.portfolio-left,
.portfolio-right-alt {
  max-width: 900px;
  max-height: 350px;
}

.portfolio-left img {
  transition: 0.5s ease;
  border-radius: 2rem;
  border-color: var(--bg-color);
}

.portfolio-left img:hover {
  border: 0.3rem solid var(--bg-color);
  border-color: var(--bg-color);
  box-shadow: 0 0 2rem var(--bg-color);
  transform: scale(1.03);
}

.portfolio-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 40vh;
  width: 550px;
  background: var(--bg-color);
  margin-top: 3rem;
  padding: 3rem;
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 2rem;
  transition: 0.5s ease;
}

.portfolio-right:hover {
  border-color: var(--bg-color);
  box-shadow: 0 0 2rem var(--bg-color);
  transform: scale(1.02);
}

.portfolio-right h3,
.portfolio-left-alt h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.portfolio-right p,
.portfolio-left-alt p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.links-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

a img {
  height: 40px;
  width: 40px;
  transition: ease 0.5s;
  border-radius: 2rem;
  padding: 0.3rem;
}

a img:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 2rem var(--main-color);
}

.portfolio-container-alt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  gap: 2rem;
}

.portfolio-right-alt {
  max-width: 900px;
  max-height: 350px;
}

.portfolio-right-alt img {
  transition: 0.5s ease;
  border-radius: 2rem;
  border-color: var(--main-color);
}

.portfolio-right-alt img:hover {
  border: 0.3rem solid var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0 0 2rem var(--main-color);
  transform: scale(1.03);
}

.portfolio-left-alt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 40vh;
  width: 550px;
  background: var(--second-bg-color);
  margin-top: 3rem;
  padding: 3rem;
  border: 0.2rem solid var(--bg-color);
  border-radius: 2rem;
  transition: 0.5s ease;
}

.portfolio-left-alt:hover {
  border-color: var(--bg-color);
  box-shadow: 0 0 2rem var(--main-color);
  transform: scale(1.02);
}

.portfolio-3 {
  background: var(--second-bg-color);
}

.portfolio-4 {
  background: var(--main-bg-color);
}

.contact {
  background: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  transition: 0.5s ease;
}

.contact form .input-box input:hover,
.contact form textarea:hover {
  box-shadow: 0 0 1rem var(--bg-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .button {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text p {
  font-size: 2.2rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--main-color);
  border-radius: 0.8rem;
}

.footer-iconTop a i {
  font-size: 2.5rem;
  color: var(--second-bg-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home-content {
    padding: 0 0 0 0.5rem;
  }

  .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    padding: 0 0.5rem 0 0;
  }

  .about-content h2 {
    font-size: 5rem;
  }

  .about-content h3 {
    font-size: 3.5rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    zoom: 0.8;
  }
}
